footer .footer-logo img {
  width: 114px;
}

header .navbar-brand img {
  max-height: 90px;
}

header .navbar-brand {
  padding: 5px 0px;
}

.blog-image {
  height: 460px;
}


.bottom-minus-custom {
  bottom: -200px;
}

/* CSS FOR SLIDING */

.slider-stage {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 60px;
}

.slider-stage .slider-item-bulb img {
  position: absolute;
  max-width: 110px;
  right: 230px;
  bottom: 340px;
  filter: opacity(0.7);
  animation: zoom-in 3s ease infinite;
}

.slider-stage .slider-item-men {
  text-align: center;
}

.slider-stage .slider-item-men img {
  position: absolute;
  max-width: 100px;
  bottom: 350px;
  margin-left: -36px;

  filter: opacity(0.7);
}

.slider-stage .slider-item-text {
  position: absolute;
  bottom: 62%;
  width: 100%;
}

.slider-stage .slider-item-text h2.top-slider-text {
  margin-left: 10%;
  font-size: 50px;
  margin-bottom: 20px;
}

.slider-stage .slider-item-text h1 {
  margin-left: 10%;
  font-weight: 600;
  font-size: 5.5rem;
  text-shadow: 1px 2px 3px #ccc;
  margin-bottom: 24px;
}

.slider-stage .slider-item-text h2.bottom-slider-text {
  margin-left: 45%;
  font-size: 50px;
}


.slider-stage .slider-item-text h1 span.base-one-color {
  color: var(--base-color);
}

.slider-stage .slider-item-text h1 span.base-two-color {
  color: #0092D5;
}

@keyframes zoom-in {
  0% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: scale(1, 1);
  }
}

@media only screen and (max-width:1199px) {

  .slider-stage .slider-item-text h1 {
    font-size: 2.8rem;
    margin-left: 18%;
    margin-bottom: 5px;
  }

  .slider-stage .slider-item-text h2.top-slider-text {
    font-size: 2rem;
    margin-bottom: 4px;
  }

  .slider-stage .slider-item-text h2.bottom-slider-text {
    font-size: 2rem;
  }

  .slider-stage .slider-item-bulb img {
    max-width: 76px;
    bottom: 300px;
    right: 160px;

  }

  .slider-stage .slider-item-men img {
    max-width: 78px;
    bottom: 304px;
  }
}

@media only screen and (max-width:991px) {
  .slider-stage .slider-item-text h1 {
    font-size: 2.8rem;
    margin-left: 0;
    margin-bottom: 5px;
  }

  .slider-stage .slider-item-text h2.top-slider-text {
    font-size: 2rem;
    margin-bottom: 4px;
    margin-left: 0;
  }

  .slider-stage .slider-item-bulb img {
    max-width: 90px;
    bottom: 320px;
    right: 10px;
  }

  .slider-stage .slider-item-men img {
    max-width: 78px;
    bottom: 325px;
  }
}

@media only screen and (max-width:767px) {
  .xs-mb-66 {
    margin-bottom: 66% !important;
  }

  .slider-stage .slider-item-text {
    bottom: 80%;
  }

  .slider-stage .slider-item-text h2.top-slider-text {
    font-size: 2rem;
    margin-bottom: 4px;
    margin-left: 0;
  }

  .slider-stage .slider-item-text h2.bottom-slider-text {
    font-size: 2rem;
    margin-left: 0;
  }

  .slider-stage .slider-item-bulb img {
    max-width: 90px;
    bottom: 284px;
    right: 10px;
  }

  .slider-stage .slider-item-men img {
    max-width: 78px;
    bottom: 284px;
  }
}

/* -------------- card csss --------------------- */
.card-intro-data {
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: var(--white);
  box-shadow: 4px 4px 16px 1px #ccc;
}

@media only screen and (max-width:767px) {
  .card-intro-data {
    margin-bottom: 20px;
  }
}

.card-intro-data .img-wrapper {
  position: relative;
  overflow: hidden;
  height: 200px;
  display: block;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.card-intro-data .img-wrapper::after {
  content: "";
  width: 100%;
  display: block;
  padding-bottom: 74%;
}

.card-intro-data .img-wrapper img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  min-height: 100%;
}

.card-intro-data .text-wrapper {
  padding: 14px;
  text-align: center;
}

.card-intro-data .text-wrapper h4 {
  font-size: 18px;
  color: var(--dark-gray);
  line-height: 1.4;
  margin-bottom: 0;
}

.card-intro-data .text-wrapper p {
  color: var(--base-color);
  font-size: 34px;
  font-weight: 600;
  margin-bottom: 12px;
}

.second-section {
  min-height: 100vh;
}